<mat-toolbar class="dialog-toolbar">
  <h2>
    Change Password
  </h2>

  <button mat-icon-button class="closebtn" [mat-dialog-close] aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="passwordForm">

    <div class="col-12 col-md-12 mb-1 fields px-0">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    </div>

    <div class="col-12 col-md-12 mb-1 fields px-0">
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirm_password">
    </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button class="bbtn" [mat-dialog-close]>Cancel</button>
  <button mat-raised-button class="pbtn" (click)="updatePassword()">Update</button>
</mat-dialog-actions>