.fullsection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--secondary-bg);
}

.sidenav-wrapper {
  flex: 1;
}

.sidenav-container {
  display: flex;
  height: 100%;
  background-color: transparent;
}

.app-sidenav {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  overflow: hidden;
  position: unset;
  width: 70px;
  background-color: transparent;
}

.toolbar-div {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* toolbar */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: transparent;
  padding-inline: 20px;
  padding-block: 12px;
  margin: 0;
}

.app-title {
  color: #547566;
  font-size: medium;
  text-align: center;
  font-weight: bolder;
  padding-left: 50px;
}

.item-text {
  margin-left: 8px;
}

.profile-btn img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.profile-img:hover {
  transform: scale(1.1);
}

.brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-container img{
  width: 60px;
  height: auto;
}

.nav-iconbtn{
  background-color: var(--accent);
  color:  #fff;
}

.nav-iconbtn:hover{
  background-color: var(--accent-hover);
}

.nav-iconbtn:hover mat-icon{
    transform: scale(1.1);
}

.settings-btn {
  background-color: var(--tableheader-color);
  color: var(--tablebutton-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(92, 85, 85, 0.2);
  transition: all 0.3s ease;
}

.settings-btn mat-icon {
  font-size: 22px;
}

.settings-btn:hover {
  background-color: var(--tablebutton-color);
  color: #ffffff;
  transform: rotate(360deg);
}

.chat-fab {
  position: fixed;
  z-index: 1000;
  bottom: 50px;
  right: 20px;
  background: #1976d2;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}