<mat-toolbar class="dialog-toolbar">
    <h2>
        {{ isEdit ? 'Update Ticket Type' : 'Create Ticket Type ' }}
    </h2>
    <button mat-icon-button (click)="onClose()" aria-label="Close dialog" class="closebtn">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">

        <div class="col-12 col-md-12 mb-1 fields px-0">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">
                    Name is required
                </mat-error>
                <mat-error *ngIf="registrationForm?.get('name')?.hasError('duplicate')">
                    Name already exists
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 col-md-12 mb-1 fields px-0">
            <mat-form-field appearance="outline">
                <mat-label>Remarks</mat-label>
                <textarea matInput formControlName="remarks" rows="3"></textarea>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button class="pbtn" (click)="submitForm()">
        {{ isEdit ? 'Update' : 'Create' }}
    </button>
</mat-dialog-actions>