<mat-toolbar class="dialog-toolbar">
  <h2>View & Update Ticket Information</h2>
  <button mat-icon-button class="closebtn" (click)="onclose()" type="button">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>

  <!-- Ticket Info Table -->
  <table class="minimaltable">
    <thead>
      <tr>
        <th>Ticket ID</th>
        <th>Project</th>
        <th>Reporter</th>
        <th>Date Submitted</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ data.ticket_number }}</td>
        <td>{{ data.projectname }}</td>
        <td>{{ data.created_by_name }}</td>
        <td>{{ data.created_at | date:'dd-MM-yyyy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Form Section -->
  <div class="formsection">
    <form [formGroup]="issueTicketForm">

      <div class="col-12 col-md-12 d-flex flex-wrap">

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Assigned To</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
            <mat-form-field appearance="outline" >
              <mat-label>{{ data.assigned_to_name }}</mat-label>
              <mat-select formControlName="assigned_user_id">
                <mat-option *ngFor="let u of users" [value]="u.user_id">
                  {{ u.fullname }}(ID: {{ u.user_id }})
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Priority</div>
          <div class="form-grid-readonly increate">
            <mat-icon [style.color]="iconMap[data.icon]?.color || 'gray'">
              {{ iconMap[data.icon]?.name || 'priority_high' }}
            </mat-icon>
            {{ data.priority }}
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Status</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
            <mat-form-field appearance="outline" >
              <mat-label> <span [ngStyle]="{'color': data.color}"> <mat-icon
                    style="font-size: 15px;">circle</mat-icon></span>&nbsp; &nbsp;{{ data.statusname }}</mat-label>
              <mat-select formControlName="ticketstatus_id">
                <mat-option *ngFor="let s of statuses" [value]="s.ticketstatus_id">
                  {{ s.statusname }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Tag</div>
          <div class="form-grid-readonly increate"> {{ data.tag_names?.join(', ') || '—' }}</div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item customgrid">
          <div class="form-grid-label increate">Ticket Type</div>
          <div class="form-grid-readonly increate"> {{ data.ticket_type_name || '—' }}</div>
        </div>

      </div>

      <hr>

      <!-- Summary & Description -->
      <div class="summary-grid">
        <div class="col-12 col-md-12 px-2 summary-grid-item">
          <div class="form-grid-label">Summary</div>
          <div class="form-grid-readonly">{{ data.summary }}</div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item">
          <div class="form-grid-label increate">Description</div>
          <div class="form-grid-readonly description-box">{{ data.description }}</div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item">
          <div class="form-grid-label">Steps to Reproduce</div>
          <div class="form-grid-readonly description-box"> {{ data.steps_to_reproduce || '—' }}</div>
        </div>
      </div>

    </form>
  </div>

  <div class="row">
    <div class="col-12">

      <!-- Add Note Header -->
      <div class="note-section d-flex align-items-center gap-2 mb-2">
        <span class="fw-bold">Add Note</span>

        <button class="expand" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>

      <!-- Collapse -->
      <div class="collapse" id="collapseExample">
        <div class="card card-body">

          <table class="table table-bordered align-middle note-table">
            <thead class="table-light">
              <tr>
                <th style="width: 20%">Last Updated By</th>
                <th style="width: 50%">Note</th>
                <th style="width: 30%">Attachment</th>
              </tr>
            </thead>

            <tbody>
              <!-- Existing notes (READ ONLY) -->
              <tr *ngFor="let note of notes">
                <td>
                  <strong>{{ note.username }}</strong><br>
                  <small class="text-muted">
                    {{ note.updated_at | date:'medium' }}
                  </small>
                </td>

                <td>{{ note.note }}</td>

                <td>
                  <!-- <div *ngFor="let file of note.attachments">
                      📎 {{ file }}
                    </div> -->

                  <div *ngFor="let file of note.attachments" class="attachment-item" (click)="openImage(file)">
                    <img [src]="imageBaseUrl + file" class="attachment-thumb" alt="attachment" />

                    <span class="attachment-name">
                      {{ file }}
                    </span>
                  </div>
                </td>

              </tr>

              <!-- ADD NEW NOTE ROW -->
              <tr class="add-note-row">
                <td>
                  <strong>{{ loggedInUser }}</strong><br />
                  <small class="text-muted">
                    {{ today | date:'medium' }}
                  </small>
                </td>

                <td>
                  <textarea class="form-control" rows="3" placeholder="Write note..." [(ngModel)]="newNoteText">
                </textarea>
                </td>

                <td>
                  <div>
                    <!-- REAL file input (hidden) -->
                    <input type="file" accept="image/*" hidden #fileInput multiple (change)="onFileSelect($event)">
                    <!-- Icon button -->
                    <button mat-icon-button type="button" (click)="fileInput.click()">
                      <mat-icon style="color:#547562;font-size:20px;">attach_file</mat-icon>
                    </button>
                    <div *ngFor="let name of selectedFileNames; let i = index">
                      📎 {{ name }}
                      <button mat-icon-button color="primary" (click)="removeFile(i)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>

      <div class="note-section d-flex align-items-center gap-2 mb-2 mt-2">
        <span class="fw-bold">Activities</span>

        <button class="expand" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
          aria-expanded="false" aria-controls="multiCollapseExample1"><mat-icon>expand_more</mat-icon></button>


      </div>
      <div class="row">

        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <table class="activity-table">
              <thead>
                <tr>
                  <th>Date Modified</th>
                  <th>User Name</th>
                  <th>Field</th>
                  <th>Change</th>
                </tr>
              </thead>

              <tbody>


                <tr *ngFor="let act of activities">
                  <td>{{ act.created_at | date:'dd-MM-yyyy HH:mm' }}</td>
                  <td>{{ act.username }}</td>
                  <td>{{ act.field_name }}</td>
                  <td>
                    <!-- NOTE ADDED -->
                    <!-- <ng-container *ngIf="act.field_name === 'Note Added'">
                        Note added
                      </ng-container> -->

                    <!-- STATUS / ASSIGNED -->
                    <ng-container *ngIf="act.field_name !== 'Note Added'">

                      <!-- <span *ngIf="act.field_name === 'New Ticket'">
                          New ticket created
                        </span> -->
                      <span *ngIf="act.field_name === 'Status'">
                        {{ act.old_status }} → {{ act.new_status }}
                      </span>
                      <span *ngIf="act.field_name === 'Assigned To'">
                        {{ act.old_assigned_to_name }} → {{ act.new_assigned_to_name }}
                      </span>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>


    </div>
  </div>



</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button class="pbtn" (click)="submitNote()">Update</button>

</mat-dialog-actions>