:host {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}




/* ===== COLUMN STYLES ONLY ===== */

.mat-column-sno {
  width: 50px;
  justify-content: left;
}

.mat-column-ticket_number {
  width: 140px;
  justify-content: left;
  padding-left: 20px;
}

.mat-column-created_by {
  width: 150px;
  padding-left: 10px;
}

.mat-column-user_id {
  width: 150px;
  padding-left: 10px;
}

.mat-column-tag_names {
  width: 100px;
  padding-left: 10px;
}

.mat-column-tickettype {
  width: 100px;
  padding-left: 20px;
}

.mat-column-image_path {
  width: 80px;
  justify-content: center;
  padding-left: 20px !important;
}

.mat-column-icons {
  width: 80px;

  padding-left: 20px;
}

.mat-column-created_at {
  width: 130px;
  min-width: 130px;
  padding-left: 10px;
}

.mat-column-summary {
  min-width: 200px;
  max-width: 450px;
  white-space: normal;
  line-height: 1.4;
}

.mat-column-ticketstatus_id {
  width: 140px;
  gap: 6px;
}

.bulk-action-box {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 6px;
}

