<div class="mainfilterdiv sticky-filter">
  <form [formGroup]="filterForm" class="min-form mb-2" style="width: 100%; padding: 0; max-width: none;">

    <div class="search">

      <!-- 
      <mat-form-field appearance="outline" class="search-small">
        <mat-label  style="color:#1d6f42;font-size:15px;">In</mat-label>
        <mat-select formControlName="filterType">
          <mat-option value="0">All</mat-option>
          <mat-option value="priority">Priority</mat-option>
          <mat-option value="status">Status</mat-option>
          <mat-option value="tag">Tags</mat-option>
            <mat-option value="type">Type</mat-option>

        </mat-select>
      </mat-form-field> -->


      <div class="inline-filter-group">
        <mat-form-field appearance="outline" class="search-small">
          <mat-label>Priority</mat-label>


          <mat-select formControlName="filterValuePriority" placeholder="Select Priority">
            <mat-option value="0">please select</mat-option>
            <mat-option *ngFor="let p of priorities" [value]="p.priority_id">{{ p.priority }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="inline-filter-group">
        <mat-form-field appearance="outline" class="search-small">
          <mat-label>Types</mat-label>

          <mat-select formControlName="filterValueType" placeholder="Select Priority">

            <mat-option value="0">please select</mat-option>
            <mat-option *ngFor="let t of tickettypes" [value]="t.tickettype_id">{{ t.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inline-filter-group">
        <mat-form-field appearance="outline" class="search-small">
          <mat-label>Status</mat-label>

          <mat-select formControlName="filterValueStatus" placeholder="Select Status">

            <mat-option value="0">please select</mat-option>
            <mat-option *ngFor="let s of statuses" [value]="s.ticketstatus_id">{{ s.statusname }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="inline-filter-group">
        <mat-form-field appearance="outline" class="search-small" floatLabel="always">
          <mat-label>Tags</mat-label>
          <mat-select formControlName="filterValueTag" multiple placeholder="Please select">
            <mat-option *ngFor="let t of tag" [value]="t.tickettag_id">
              {{ t.tickettag }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="search-small">
        <mat-label style="color:#1d6f42;font-size:15px;">Date Between</mat-label>

        <mat-select formControlName="filterValueDate" placeholder="Time">
          <mat-option value="0">All Time</mat-option>
          <mat-option value="Yesterday">Yesterday</mat-option>
          <mat-option value="Between">Between</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="filterForm.value.filterValueDate === 'Between'" class="inline-filter-group">
        <mat-form-field appearance="outline" style="width: 110px;">
          <input matInput [matDatepicker]="pickerFrom" formControlName="fromDate" placeholder="From">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"
            style="color:#547562; transform: scale(0.8);"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 110px;">
          <input matInput [matDatepicker]="pickerTo" formControlName="toDate" placeholder="To">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"
            style="color:#547562; transform: scale(0.8);"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

      </div>

      <button mat-raised-button (click)="getFilter()" class="filterbutton">
        Filter
      </button>
      <!-- CREATE EXCEL BUTTON -->
      <!-- <button mat-raised-button color="success" class="excel-btn" > -->
      <div>
        <img src="./assets/excel.png" alt="excel not found" (click)="downloadExcel()" class="excel"
          title="Download Excel">
        <img src="assets/pdf.png" (click)="downloadPdf()" class="pdf" title="Download Pdf">
      </div>

      <div class="right-container">
        <mat-form-field appearance="none" class="searchbox">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search..." formControlName="searchtext" (keyup)="searchAll($event)">
        </mat-form-field>
      </div>
      <!-- </button> -->
    </div>
  </form>
</div>

<div class="page-scroll-container">

  <div class="table-wrapper mat-elevation-z6">
    <table mat-table [dataSource]="issueticketDataSource" class="mat-table issueticket-table ">

      <!-- S.No -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ i + 1 }}
        </td>
      </ng-container>


      <ng-container matColumnDef="tag_names">
        <th mat-header-cell *matHeaderCellDef>Tags</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.tag_names?.length; else noTags">
            {{ row.tag_names.join(', ') }}
          </span>
          <ng-template #noTags>—</ng-template>
        </td>
      </ng-container>



      <!-- Icon -->
      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon [style.color]="iconMap[row.icon]?.color || 'gray'">
            {{ iconMap[row.icon]?.name || 'help' }}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="tickettype">
        <th mat-header-cell *matHeaderCellDef>Ticket Type</th>
        <td mat-cell *matCellDef="let row">
          <span>
            {{ row.ticket_type_name }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef>Reporter</th>
        <td mat-cell *matCellDef="let row">
          <span>
            {{ row.created_by_name }}
          </span>
        </td>
      </ng-container>




      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Date Submitted</th>
        <td mat-cell *matCellDef="let row">
          <span>
            <!-- Suppose ticket.created_at is your ISO string from backend -->
            <span>{{ row.created_at | date:'dd/MM/yyyy' }}</span>

          </span>
        </td>
      </ng-container>


      <ng-container matColumnDef="user_id">
        <th mat-header-cell *matHeaderCellDef>Assigned To</th>
        <td mat-cell *matCellDef="let row">
          <span>
            {{ row.assigned_to_name }}
          </span>
        </td>
      </ng-container>


      <!-- Remarks -->
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef>Summary</th>
        <td mat-cell *matCellDef="let row">
          {{ row.summary}}
        </td>
      </ng-container>

      <ng-container matColumnDef="image_path">
        <th mat-header-cell *matHeaderCellDef>Attachment</th>

        <td mat-cell *matCellDef="let row">

          <!-- show icons equal to number of images -->
          <ng-container *ngIf="row.image_path && row.image_path.length">
            <mat-icon *ngFor="let img of row.image_path" class="image-icon" (click)="openImages([img])"
              title="View Image" style="color:#547562;cursor:pointer">
              image
            </mat-icon>
          </ng-container>
          <span *ngIf="!row.image_path || row.image_path.length === 0">
            —
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="ticketstatus_id">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let row">
          <span [ngStyle]="{'color': row.color}">
            <mat-icon style="font-size: 15px;">circle</mat-icon>
          </span>
          {{ row.statusname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="ticket_number">
        <th mat-header-cell *matHeaderCellDef>Ticket Number</th>
        <td mat-cell *matCellDef="let row">
          {{ row.ticket_number}}
        </td>
      </ng-container>

      <!-- Preview -->
      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef>Preview</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button class="action-btn preview" (click)="previewIssue(row)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Update</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button class="action-btn edit" (click)="editISSUE(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button class="action-btn delete" (click)="deleteIssue(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[20,40,60]" [pageSize]="20" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>