
/* Master Section */
.master-section {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.master-checkbox {
  font-size: 16px;
  font-weight: 600;
}

/* Permission List */
.permission-list {
  display: flex;
  flex-direction: column;
  gap: 12px;            /* spacing between checkboxes */
  padding: 15px 10px;
  margin-left: 50px;
}

/* Checkbox hover */
.permission-list mat-checkbox:hover {
  background-color: #d3cdd6;
  border-radius: 6px;
  
}

.permission-list mat-checkbox:hover {
  background-color: #d3cdd6;
  border-radius: 6px;
  transition: background 0.2s ease;
  display: block; /* Ensures the background covers the full width */
  padding: 4px 8px; 
}
