<!-- The custom-dialog class must be applied in your .open() config in TS -->
<mat-toolbar class="dialog-toolbar">
    <h2>User Permissions</h2>

    <button mat-icon-button (click)="onClose()" class="closebtn">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<mat-dialog-content>
    <div class="master-section">
        <span class="master-checkbox text-secondary text-decoration-underline">User Settings</span>
    </div>

    <!-- User Permissions Section -->
    <div class="permission-list">
        <mat-checkbox [(ngModel)]="userpermissions.user">User</mat-checkbox>
        <mat-checkbox [(ngModel)]="userpermissions.usergroup">User Group</mat-checkbox>
    </div>

    <mat-divider class="my-2"></mat-divider>

    <!-- Master Data Section Header (Optional label based on your style) -->
    <div class="master-section">
        <span class="master-checkbox text-secondary text-decoration-underline">Master Settings</span>
    </div>

    <!-- Master Permissions List -->
    <div class="permission-list">
        <mat-checkbox [(ngModel)]="masterpermissions.project">Project</mat-checkbox>
        <mat-checkbox [(ngModel)]="masterpermissions.tickettype">Ticket Type</mat-checkbox>
        <mat-checkbox [(ngModel)]="masterpermissions.ticketstatus">Ticket Status</mat-checkbox>
        <mat-checkbox [(ngModel)]="masterpermissions.ticketpriority">Ticket Priority</mat-checkbox>
        <mat-checkbox [(ngModel)]="masterpermissions.tickettag">Ticket Tag</mat-checkbox>
    </div>
    <mat-divider class="my-2"></mat-divider>
    <div class="master-section">
        <span class="master-checkbox text-secondary text-decoration-underline"> Qc Ticket Settings</span>
    </div>
    <div class="permission-list">
        <mat-checkbox [(ngModel)]="otherpermissions.settings">
            Qc Ticket
        </mat-checkbox>
    </div>
    <mat-divider class="my-2"></mat-divider>
    <div class="master-section">
        <span class="master-checkbox text-secondary text-decoration-underline"> View Ticket Settings</span>
    </div>
    <div class="permission-list">
        <mat-checkbox [(ngModel)]="otherpermissions.view">
            View Ticket
        </mat-checkbox>
    </div>
    <mat-divider class="my-2"></mat-divider>
    <div class="master-section">
        <span class="master-checkbox text-secondary text-decoration-underline"> Client Ticket Settings</span>
    </div>
    <div class="permission-list">
        <mat-checkbox [(ngModel)]="otherpermissions.clientTicketView">
            Client Ticket View
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="otherpermissions.clientTicketAction" [disabled]="!otherpermissions.clientTicketView"
            class="ms-5">
            Action
        </mat-checkbox>
        <mat-divider class="my-2"></mat-divider>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <!-- <button mat-raised-button class="bbtn" (click)="onClose()">Cancel</button> -->
    <button mat-raised-button class="pbtn" (click)="save()">{{ isEdit ? 'Update' : 'Save' }}</button>
</mat-dialog-actions>