<mat-toolbar class="dialog-toolbar">
  <h2>
    {{ isEditMode ? 'Update User Group' : 'Create User Group' }}
  </h2>
  <button mat-icon-button class="closebtn" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <form id="userGroupForm" [formGroup]="usergroupform" (ngSubmit)="onSubmit()">
    <div class="col-12 col-md-12 mb-1 fields px-0">
      <mat-form-field appearance="outline">
        <mat-label>Usergroup</mat-label>
        <input matInput formControlName="usergroupname" />
        <mat-error *ngIf="usergroupform.get('usergroupname')?.hasError('required')">
          Usergroup name is required
        </mat-error>
        <mat-error *ngIf="usergroupform?.get('usergroupname')?.hasError('duplicate')">
          User group already exists
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <!-- <button mat-raised-button class="bbtn" type="button" (click)="onClose()">Close</button> -->

  <button mat-raised-button class="pbtn" type="submit" form="userGroupForm">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>
