:root {

  --primary-bg: #fefefe;
  --secondary-bg: #ecf2ef;

  --accent-light: #d6e1db;
  --accent: #547562;
  --accent-hover: #455f51;

  --btn-border: #c5c5c5;

  --filebtn-bg: #f2f2f2;

  --tableheader: #d6e1db;
  --tablerow-hover: #ecf2ef;
  --tableborder: #ecf2ef;
  --tablecontent: black;
  
  --tablebutton-color: #547562;
  --formheader-color: #547562;
  --formbutton-color: #547562;
  --formcontent-color: white;
}
