.page-scroll-container {
  height: calc(100vh - 64px); /* subtract toolbar height */
  overflow: hidden;
  /* position: relative; */
}
.sticky-container {
  position: sticky;
  top: 0;
  z-index: 20;
  background: #fff;
  
}


/* ===== Table Wrapper ===== */
.table-wrapper {
  /* width: 100%;
  margin: 0;  
  padding: 0;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;  */
    max-height: calc(100vh - 200px); 
  overflow-y: auto;             
  position: relative;
 
  

}

/* ===== Material Table ===== */
.mat-table {
  width: 100%;
  border-collapse: collapse;
}

/* ===== Header ===== */
.mat-header-cell {
  background-color:var(--tableheader-color);
  font-weight: 600;
  font-size: 14px;
  color: #333;
  /* padding: 6px 10px; */
  position: sticky;
  top: 0;
  z-index: 5;
  
}

.mat-row {
  height: 15px !important;
  min-height: 15px;
}

/* Apply background color to EVEN rows */
.mat-row:nth-child(even) {
  background-color: #f7f8fa;
}

/* Optional hover effect (overrides stripe) */
.mat-row:hover {
  background-color: #eef2ff !important;
}

.mat-cell {
  font-size: 14px;
  padding: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
/* ===== Compact height ===== */
.mat-header-row {
  /* position: sticky;
  top: 52px; 
  z-index: 15;
  background-color: var(--tableheader-color); */
   top: 56px !important; /* button height */
  z-index: 20;
  height: 40px !important;
}


/* ===== Column widths ===== */
.col-si-no {
  width: 70px;
  text-align: left;
}

.col-fullname {
  text-align: left;
}

.col-group {
  width: 180px;
  text-align: center;
  white-space: nowrap;
}

.col-actions {
  width: 80px;
  text-align: center;
}

/* ===== Group Chip ===== */
/* .group-chip {
  background: #e3f2fd;
  color: #1565c0;
  padding: 4px 10px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 500;
} */

/* ===== Action buttons ===== */


/* ===== Paginator Center ===== */
mat-paginator {
  display: flex;
  justify-content: center;
  padding: 8px 0;
}

/* /////////////////////////////////////////////// */
/* Custom class to force smaller dimensions */
.custom-close-button {
  color: #020202 !important; /* Set your desired color (e.g., Red) */
  background: transparent !important;
}

/* Optional: Change the color when the user hovers over the X */
.custom-close-button:hover {
  color: #cc0000 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}
.success-snackbar .mat-simple-snackbar {
  color: white !important;
}

.success-snackbar .mat-simple-snackbar-action {
  color: #ffeb3b !important; /* Makes the "Close" button text yellow/visible */
}

