<div class="contentpage">

  <div class="w-100 d-flex flex-wrap align-items-start justify-content-start mt-2 mb-3 gap-3">
    <div class="pdiv">
      <button mat-raised-button class="pbtn" (click)="openTagDialog()">
        Create Tag
      </button>
    </div>
  </div>

  <div class="tablewrapper">
    <table mat-table [dataSource]="tagDataSource" class="mat-table project-table sticky-header">

      <!-- S.No -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef class="col-si-no">S.No</th>
        <td mat-cell *matCellDef="let row; let i = index" class="col-si-no">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tickettag">
        <th mat-header-cell *matHeaderCellDef class="col-name">Ticket Tag</th>
        <td mat-cell *matCellDef="let row" class="col-name">
          {{ row.tickettag }}
        </td>
      </ng-container>

      <!-- Remarks -->
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef class="col-remarks">Remarks</th>
        <td mat-cell *matCellDef="let row" class="col-remarks remarks-cell">
          {{ row.remarks }}
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Status</th>

        <td mat-cell *matCellDef="let row" class="col-actions">
          <mat-slide-toggle [checked]="row.status_id === 1" (change)="changeStatus(row, $event.checked)"
            [disabled]="row.status_id === 4">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Edit</th>
        <td mat-cell *matCellDef="let row" class="col-actions">
          <button mat-icon-button class="action-btn edit" (click)="edittickettag(row)" [disabled]="row.status_id === 4">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Delete</th>
        <td mat-cell *matCellDef="let row" class="col-actions">
          <button mat-icon-button class="action-btn delete" (click)="deletetag(row)" [disabled]="row.status_id === 4">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tagdisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tagdisplayedColumns;"></tr>

    </table>

    <div class="paginator">
      <mat-paginator [pageSizeOptions]="[5,10,20]" [pageSize]="10" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>