<mat-toolbar class="dialog-toolbar">
  <h2 class="text-center">
    {{ isEditMode ? 'Update Project' : 'Create Project' }}
  </h2>

  <button mat-icon-button class="closebtn" (click)="onClose()" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <form [formGroup]="projectform" id="projectform">

    <div class="col-12 col-md-12 mb-1 fields px-0">
      <mat-form-field appearance="outline">
        <mat-label>Project name</mat-label>
        <input matInput formControlName="projectname">
        <mat-error *ngIf="projectform.get('projectname')?.hasError('required')">
          Project name is required
        </mat-error>
        <mat-error *ngIf="projectform?.get('projectname')?.hasError('duplicate')">
          Project already exists
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-12 mb-1 fields px-0">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="remarks" rows="4"></textarea>
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="bbtn" (click)="onClose()">Close</button>
  <button mat-raised-button class="pbtn" id="projectform" type="submit" (click)="onProjectSubmit()">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>