<mat-toolbar class="dialog-toolbar">
  <h2>Assign Team {{ project.projectname }}</h2>
  <button mat-icon-button (click)="onclose()" class="closebtn" aria-label="Close dialog">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

  <mat-dialog-content>
    <div *ngFor="let group of groupList" class="group-box">
      <h3 class="group-title">{{ group.usergroup }}</h3>
      <div *ngFor="let user of group.users" class="user-row">
        <mat-checkbox [(ngModel)]="user.selected" (change)="user.selected = $event.checked">
          {{ user.fullname }}
        </mat-checkbox>

        <!-- <mat-checkbox [(ngModel)]="user.selected">
        {{ user.fullname }}
      </mat-checkbox> -->
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button [mat-dialog-close] class="bbtn">Cancel</button>
    <button mat-raised-button class="pbtn" (click)="submitTeam()">
      Save
    </button>
  </mat-dialog-actions>