<div class="dialog-wrapper forgot-bg">

  <mat-toolbar class="dialog-toolbar">
    <h2 mat-dialog-title>Reset Password</h2>

    <span class="toolbar-spacer"></span>

    <button mat-icon-button (click)="onclose()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
</div>
  

  <form (ngSubmit)="submit()" class="form">
<p class="info-text">
    Enter your username and registered email ***
  </p>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" required>
    </mat-form-field>

    <button mat-raised-button class="action-btn" type="submit">
       Reset Link
    </button>

  </form>
