/* Toolbar spacing */
.toolbar-spacer {
  flex: 1 1 auto;
}

/* Dialog background */
.forgot-bg {
  background: linear-gradient(135deg, #7db391 0%, #4a7c59 100%);
  padding: 5px;
  padding-left: 30px;
}

/* Wrapper */
.dialog-wrapper {
  width: 500px;
  max-width: 95vw;

}

/* Toolbar */
.dialog-toolbar {
  background: transparent;
  color: white;
  padding: 0;

}

/* Info text */
.info-text {
  font-size: 14px;
  color: var(--tablebutton-color);
  margin: 15px 0;
}

/* Form layout */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding:  8px 40px;
}

/* Full-width inputs */
.full-width {
  max-width: 100%;
 
}

/* Remove ugly default borders */
.forgot-bg .mat-mdc-form-field-outline {
  color: rgba(255, 255, 255, 0.6);
}

/* Input & label color */
.forgot-bg .mat-mdc-input-element,
.forgot-bg .mat-mdc-form-field-label {
  color: white;
}

/* Button */
.action-btn {
  background-color: #4a7c59 !important;
  color: white !important;
  border-radius: 8px;
  padding: 5px;
  font-weight: 500;
  margin-top: 10px;
  height: auto;
  width: 150px;
  margin: auto;

}

/* Button hover */
.action-btn:hover {
  background-color: #3d664a !important;
}
::ng-deep .custom-dialog .mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}