<mat-tab-group mat-align-tabs="center" class="mat-tabgroup">

  <mat-tab label="USER" *ngIf="permissions.user">
    <app-user></app-user>
  </mat-tab>

  <mat-tab label="USER GROUP" *ngIf="permissions.usergroup">
    <app-usergroup></app-usergroup>
  </mat-tab>

</mat-tab-group>


<!-- <mat-tab-group mat-align-tabs="center" *ngIf="permissions.user">
    <mat-tab label="USER" >
        <app-user></app-user>
        
    </mat-tab>
    <mat-tab label="USER GROUP" *ngIf="permissions.usergroup">
        <app-usergroup></app-usergroup>
     
    </mat-tab>
  
</mat-tab-group> -->