<div class="contentpage">

  <div class="w-100 d-flex flex-wrap align-items-start justify-content-start mt-2 mb-3 gap-3">
    <div class="pdiv">
      <button mat-raised-button (click)="openPriorityDialog()" class="pbtn">
        Create Priority
      </button>
    </div>
  </div>

  <div class="tablewrapper">
    <table mat-table [dataSource]="priorityDataSource" class="mat-table project-table sticky-header">

      <!-- S.No -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef class="col-si-no">S.No</th>
        <td mat-cell *matCellDef="let row; let i = index" class="col-si-no">
          {{ i + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef>Icon</th>
        <td mat-cell *matCellDef="let row">
          <mat-icon [style.color]="iconMap[row.icon]?.color || 'gray'" style="font-size:20px;">
            {{ iconMap[row.icon]?.name || 'help' }}
          </mat-icon>
        </td>
      </ng-container>

      <!-- Priority -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef class="col-name">Priority</th>
        <td mat-cell *matCellDef="let row" class="col-name">
          {{ row.priority }}
        </td>
      </ng-container>

      <!-- Remarks -->
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef class="col-remarks">Remarks</th>
        <td mat-cell *matCellDef="let row" class="col-remarks remarks-cell">
          {{ row.remarks }}
        </td>
      </ng-container>
      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Status</th>

        <td mat-cell *matCellDef="let row" class="col-actions">
          <mat-slide-toggle [checked]="row.status_id === 1" (change)="changeStatus(row, $event.checked)">
          </mat-slide-toggle>
        </td>
      </ng-container>


      <!-- Edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Edit</th>
        <td mat-cell *matCellDef="let row" class="col-actions">
          <button mat-icon-button class="action-btn edit" (click)=" editticketpriority(row)"
            [disabled]="row.disabled === 4">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>



      <!-- Delete -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Delete</th>

        <td mat-cell *matCellDef="let row" class="col-actions">
          <button mat-icon-button class="action-btn delete" [disabled]="row.disabled === 4"
            (click)="deleteticketpriority(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>




      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="paginator">
      <mat-paginator [pageSizeOptions]="[5,10,20]" [pageSize]="10" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>

</div>