<mat-toolbar class="dialog-toolbar">
  <h2>
    {{ isEditMode ? 'Update Ticket Priority' : 'Create Ticket Priority' }}
  </h2>

  <button mat-icon-button class="closebtn" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>

  <form [formGroup]="priorityform" id="priorityform" (ngSubmit)="onSubmit()">

    <div class="col-12 col-md-12 mb-1 fields px-0">
      <mat-form-field appearance="outline">
        <mat-label>Priority Name</mat-label>
        <input matInput formControlName="priority">
        <mat-error *ngIf="priorityform.get('priority')?.hasError('required')">
          Priority name is required
        </mat-error>
        <mat-error *ngIf="priorityform.get('priority')?.hasError('duplicate')">
          Priority already exists
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-12 mb-3 fields px-0">
      <div class="mb-2">
        <mat-label>Choose an Icon</mat-label>
      </div>
      <mat-radio-group formControlName="icon" class="icon-radio-group">

        <mat-radio-button [value]="1" class="icon-radio">
          <mat-icon class="priority-icon immediate">warning</mat-icon>
        </mat-radio-button>

        <mat-radio-button [value]="2" class="icon-radio">
          <mat-icon class="priority-icon urgent">arrow_upward</mat-icon>
        </mat-radio-button>

        <mat-radio-button [value]="3" class="icon-radio">
          <mat-icon class="priority-icon high">keyboard_arrow_up</mat-icon>
        </mat-radio-button>
        <mat-radio-button [value]="4" class="icon-radio">
          <mat-icon class="priority-icon low">keyboard_arrow_down</mat-icon>
        </mat-radio-button>


        <mat-radio-button [value]="5" class="icon-radio">
          <mat-icon class="priority-icon null">remove</mat-icon>
        </mat-radio-button>

        <mat-radio-button [value]="6" class="icon-radio">
          <mat-icon class="priority-icon immediate">keyboard_double_arrow_up</mat-icon>
        </mat-radio-button>

      </mat-radio-group>
    </div>

    <!-- Description Field -->
    <div class="col-12 col-md-12 mb-1 fields px-0">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="remarks" rows="4" placeholder="Enter description"></textarea>
      </mat-form-field>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="pbtn" type="submit" form="priorityform">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>