<div class="contentpage">

  <div class="w-100 d-flex flex-wrap align-items-start justify-content-start mb-2 gap-3">
    <div class="pdiv">
      <button mat-raised-button class="pbtn" (click)="openIssueTicketDialog()">
        Create QC Ticket
      </button>
    </div>

    <div class="col-12 col-md-3 ml-auto fields">
      <mat-form-field appearance="fill" class="searchbox">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search..." formControlName="searchtext" (keyup)="searchAll($event)">
      </mat-form-field>
    </div>
  </div>

  <div class="tablewrapper">
    <table mat-table [dataSource]="issueticketDataSource">

      <!-- S.No -->
     <ng-container matColumnDef="sno">
  <th mat-header-cell *matHeaderCellDef class="col-slno">Sl.No</th>
  <td mat-cell *matCellDef="let item; let i = index">
    {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
  </td>
</ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let row">
          <span [matTooltip]="row.assigned_to_name">
      {{ row.ticket_type_name  }}
    </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="tickettype">
        <th mat-header-cell *matHeaderCellDef>Ticket Type</th>
        <td mat-cell *matCellDef="let row">
          <span>
            {{ row.ticket_type_name }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef>Reporter</th>
        <td mat-cell *matCellDef="let row">
          <span>
            {{ row.created_by_name }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="tag_names">
        <th mat-header-cell *matHeaderCellDef>Tags</th>
        <td mat-cell *matCellDef="let row">
          <span class="tag-names" *ngIf="row.tag_names?.length; else noTags">
            {{ row.tag_names.join(', ') }}
          </span>
          <ng-template #noTags>—</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="image_path">
        <th mat-header-cell *matHeaderCellDef class="col-actions text-center">Attachment</th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <!-- show icons equal to number of images -->
          <ng-container *ngIf="row.image_path && row.image_path.length">
            <mat-icon *ngFor="let img of row.image_path" class="cursor-pointer" (click)="openImages([img])"
              title="View Image" style="color:#547562">
              image
            </mat-icon>
          </ng-container>
          <span *ngIf="!row.image_path || row.image_path.length === 0">
            
          </span>
        </td>
      </ng-container>

      <!-- Icon -->
      <ng-container matColumnDef="icons">
        <th mat-header-cell *matHeaderCellDef class="col-actions text-center">Priority</th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <mat-icon [style.color]="iconMap[row.icon]?.color || 'gray'">
            {{ iconMap[row.icon]?.name || 'help' }}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Date Submitted</th>
        <td mat-cell *matCellDef="let row">
          <span>
            <!-- Suppose ticket.created_at is your ISO string from backend -->
            <span>{{ row.created_at | date:'dd/MM/yyyy' }}</span>
          </span>
        </td>
      </ng-container>

      <!-- Remarks -->
      <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef>Summary</th>
        <td mat-cell *matCellDef="let row">
          {{ row.summary}}
        </td>
      </ng-container>

      <ng-container matColumnDef="ticket_number">
        <th mat-header-cell *matHeaderCellDef>Ticket Number</th>
        <td mat-cell *matCellDef="let row">
          {{ row.ticket_number}}
        </td>
      </ng-container>

      <ng-container matColumnDef="ticketstatus_id">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">
          <span class="d-flex align-items-center gap-1">
            <mat-icon class="d-flex align-items-center justify-content-center" style="font-size: 15px;"
              [ngStyle]="{'color': row.color}">circle</mat-icon>
            {{ row.statusname }}
          </span>
        </td>
      </ng-container>

      <!-- Edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Edit</th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <button mat-icon-button class="action-btn edit" (click)="editISSUE(row)">
            <mat-icon>edit_note</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="col-actions">Delete</th>

        <td mat-cell *matCellDef="let row">
          <button mat-icon-button class="action-btn delete" (click)="deleteIssue(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <div class="paginator">
      <mat-paginator [pageSizeOptions]="[5,20,40,60]" [pageSize]="20" showFirstLastButtons
        style="display: flex; justify-content: center;">
      </mat-paginator>
    </div>
  </div>

</div>