<mat-toolbar class="dialog-toolbar">
  <h2>
    {{ isEditMode ? 'Update Ticket' : 'Create Ticket' }}
  </h2>
  <button mat-icon-button class="closebtn" (click)="onClose()" type="button">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <!-- Form Section -->
  <div class="formsection">
    <form *ngIf="issueTicketForm" [formGroup]="issueTicketForm" id="issueticketform" (ngSubmit)="onSubmit()">

      <div class="col-12 col-md-12 d-flex flex-wrap">
        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Ticket No</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline">
                <mat-label>Ticket No</mat-label>
                <input matInput formControlName="ticket_number" readonly style="color:var(--accent-color)">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Status</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Status</mat-label>
                <mat-select formControlName="ticketstatus_id">
                  <mat-option *ngFor="let s of statuses" [value]="s.ticketstatus_id">
                    {{ s.statusname }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Ticket Type</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Type</mat-label>
                <mat-select formControlName="tickettype">
                  <mat-option *ngFor="let t of tickettypes" [value]="t.tickettype_id">
                    {{ t.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Priority</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority_id">
                  <mat-select-trigger>
                    <mat-icon [style.color]="iconMap[selectedPriority?.icon]?.color"
                      style="margin-right: 6px; vertical-align: middle;">
                      {{ iconMap[selectedPriority?.icon]?.name }}
                    </mat-icon>
                    {{ selectedPriority?.priority }}
                  </mat-select-trigger>
                  <mat-option *ngFor="let p of priorities" [value]="p.priority_id">
                    <mat-icon [style.color]="iconMap[p.icon]?.color" style="margin-right: 6px; vertical-align: middle;">
                      {{ iconMap[p.icon]?.name }}
                    </mat-icon>
                    {{ p.priority }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Tag</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width tags-field">
                <mat-label>Tags</mat-label>
                <mat-select formControlName="ticket_tag" multiple>
                  <mat-option *ngFor="let t of tags" [value]="t.tickettag_id">
                    {{ t.tickettag }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Assigned to</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width users-field">
                <mat-label>Assigned To</mat-label>
                <mat-select formControlName="user_id">
                  <mat-option *ngFor="let u of users" [value]="u.user_id">
                    {{ u.fullname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
        </div>

      </div>
      <hr>
      <!-- Summary & Description -->
      <div class="summary-grid">
        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Summary</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width summary-field">
                <mat-label>Summary</mat-label>
                <input matInput formControlName="summary">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Description</div>
          <div class="form-grid-readonly increate description-box">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width description-field">
                <mat-label>Description</mat-label>
                <textarea matInput rows="4" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Steps to Reproduce</div>
          <div class="form-grid-readonly increate description-box pb-3">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width steps-field">
                <mat-label>Steps to Reproduce</mat-label>
                <textarea matInput rows="4" placeholder="1. Go to...
2. Click on...
3. Observe the issue..." formControlName="steps_to_reproduce">
      </textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Attachments</div>
          <div class="form-grid-readonly increate description-box pb-3">
            <div class="col-12 col-md-12 fields">
              <input type="file" accept="image/*" hidden #fileInput multiple (change)="onFileSelect($event)">
              <button mat-icon-button type="button" (click)="fileInput.click()">
                <mat-icon style="color: var(--accent);">attach_file</mat-icon>
              </button>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <mat-chip *ngFor="let name of selectedFileNames; let i = index">
                  📎 {{ name }}
                  <button mat-icon-button class="closebtn" (click)="removeFile(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-chip>
              </div>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <mat-chip *ngFor="let name of existingImages; let i = index">
                  📎 {{ name }}
                  <button mat-icon-button class="closebtn" (click)="removeExistingImage(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-chip>
              </div>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="pbtn" form="issueticketform" type="submit">
    {{ isEditMode ? 'Update' : 'Save' }}
  </button>
</mat-dialog-actions>