<mat-toolbar class="dialog-toolbar">
  <h2>
    {{ isEditMode ? 'Update Ticket' : 'Create Ticket' }}
  </h2>
  <button mat-icon-button class="closebtn" (click)="onClose()" type="button">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>
  <!-- Form Section -->
  <div class="formsection">
    <form *ngIf="issueTicketForm" [formGroup]="issueTicketForm" id="issueticketform" (ngSubmit)="onSubmit()">

      <div class="col-12 col-md-12 d-flex flex-wrap">
        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Ticket No</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline">
                <mat-label>Ticket No</mat-label>
                <input matInput formControlName="ticket_number" readonly style="color:var(--accent-color)">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Status</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Status</mat-label>
                <mat-select formControlName="ticketstatus_id">
                  <mat-option *ngFor="let s of statuses" [value]="s.ticketstatus_id">
                    {{ s.statusname }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Ticket Type</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Type</mat-label>
                <mat-select formControlName="tickettype">
                  <mat-option *ngFor="let t of tickettypes" [value]="t.tickettype_id">
                    {{ t.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Priority</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority_id">
                  <mat-select-trigger>
                    <mat-icon [style.color]="iconMap[selectedPriority?.icon]?.color"
                      style="margin-right: 6px; vertical-align: middle;">
                      {{ iconMap[selectedPriority?.icon]?.name }}
                    </mat-icon>
                    {{ selectedPriority?.priority }}
                  </mat-select-trigger>
                  <mat-option *ngFor="let p of priorities" [value]="p.priority_id">
                    <mat-icon [style.color]="iconMap[p.icon]?.color" style="margin-right: 6px; vertical-align: middle;">
                      {{ iconMap[p.icon]?.name }}
                    </mat-icon>
                    {{ p.priority }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Tag</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width tags-field">
                <mat-label>Tags</mat-label>
                <mat-select formControlName="ticket_tag" multiple>
                  <mat-option *ngFor="let t of tags" [value]="t.tickettag_id">
                    {{ t.tickettag }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 px-2 form-grid-item increate">
          <div class="form-grid-label increate">Assigned to</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width users-field">
                <mat-label>Assigned To</mat-label>
                <mat-select formControlName="user_id">
                  <mat-option *ngFor="let u of users" [value]="u.user_id">
                    {{ u.fullname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
        </div>

      </div>
      <hr>
      <!-- Summary & Description -->
      <div class="summary-grid">
        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Summary</div>
          <div class="form-grid-readonly increate">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width summary-field">
                <mat-label>Summary</mat-label>
                <input matInput formControlName="summary">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Description</div>
          <div class="form-grid-readonly increate description-box">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width description-field">
                <mat-label>Description</mat-label>
                <textarea matInput rows="4" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Steps to Reproduce</div>
          <div class="form-grid-readonly increate description-box pb-3">
            <div class="col-12 col-md-12 px-0 fields">
              <mat-form-field appearance="outline" class="full-width steps-field">
                <mat-label>Steps to Reproduce</mat-label>
                <textarea matInput rows="4" placeholder="1. Go to...
2. Click on...
3. Observe the issue..." formControlName="steps_to_reproduce">
      </textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12 px-2 summary-grid-item increate">
          <div class="form-grid-label increate">Attachments</div>
          <div class="form-grid-readonly increate description-box pb-3">
            <div class="col-12 col-md-12 fields">
              <input type="file" accept="image/*" hidden #fileInput multiple (change)="onFileSelect($event)">
              <button mat-icon-button type="button" (click)="fileInput.click()">
                <mat-icon style="color: var(--accent);">attach_file</mat-icon>
              </button>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <mat-chip *ngFor="let name of selectedFileNames; let i = index">
                  📎 {{ name }}
                  <button mat-icon-button class="closebtn" (click)="removeFile(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-chip>
              </div>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <mat-chip *ngFor="let name of existingImages; let i = index">
                  📎 {{ name }}
                  <button mat-icon-button class="closebtn" (click)="removeExistingImage(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-chip>
              </div>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>
  <div class="row">
    <div class="col-12">

      <!-- Add Note Header -->
      <div class="note-section d-flex align-items-center gap-2 mb-2">
        <span class="fw-bold">Add Note</span>

        <button class="expand" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>

      <!-- Collapse -->
      <div class="collapse" id="collapseExample">
        <div class="card card-body">

          <table class="table table-bordered align-middle note-table">
            <thead class="table-light">
              <tr>
                <th style="width: 20%">Last Updated By</th>
                <th style="width: 50%">Note</th>
                <th style="width: 30%">Attachment</th>
              </tr>
            </thead>

            <tbody>
              <!-- Existing notes (READ ONLY) -->
              <tr *ngFor="let note of notes">
                <td>
                  <strong>{{ note.username }}</strong><br>
                  <small class="text-muted">
                    {{ note.updated_at | date:'medium' }}
                  </small>
                </td>

                <td>{{ note.note }}</td>

                <td>
                  <!-- <div *ngFor="let file of note.attachments">
                      📎 {{ file }}
                    </div> -->
                  <mat-chip *ngFor="let file of note.attachments || []" (click)="openImage(file)" class="m-1">
                    <img [src]="imageBaseUrl + file" />
                    <label class="chiplabel">{{ file }}</label>
                  </mat-chip>
                  <!-- <div *ngFor="let file of note.attachments" class="attachment-item" (click)="openImage(file)">
                    <img [src]="imageBaseUrl + file" class="attachment-thumb" alt="attachment" />

                    <span class="attachment-name">
                      {{ file }}
                    </span>
                  </div> -->
                </td>

              </tr>

              <!-- ADD NEW NOTE ROW -->
              <tr class="add-note-row">
                <td>
                  <strong>{{ loggedInUser }}</strong><br />
                  <small class="text-muted">
                    {{ today | date:'medium' }}
                  </small>
                </td>

                <td>
                  <textarea class="form-control" rows="3" placeholder="Write note..." [(ngModel)]="newNoteText">
                </textarea>
                </td>

                <td>
                  <div>
                    <!-- REAL file input (hidden) -->
                    <input type="file" accept="image/*" hidden #fileInput multiple (change)="onFileSelect($event)">
                    <!-- Icon button -->
                    <button mat-icon-button type="button" (click)="fileInput.click()">
                      <mat-icon style="color:#547562;font-size:20px;">attach_file</mat-icon>
                    </button>
                    <div *ngFor="let name of selectedFileNames; let i = index">
                      📎 {{ name }}
                      <button mat-icon-button color="primary" (click)="removeFile(i)">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>

      <div class="note-section d-flex align-items-center gap-2 mb-2 mt-2">
        <span class="fw-bold">Activities</span>

        <button class="expand" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
          aria-expanded="false" aria-controls="multiCollapseExample1"><mat-icon>expand_more</mat-icon></button>


      </div>
      <div class="row">

        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <table class="activity-table">
              <thead>
                <tr>
                  <th>Date Modified</th>
                  <th>User Name</th>
                  <th>Field</th>
                  <th>Change</th>
                </tr>
              </thead>

              <tbody>


                <tr *ngFor="let act of activities">
                  <td>{{ act.created_at | date:'dd-MM-yyyy HH:mm' }}</td>
                  <td>{{ act.username }}</td>
                  <td>{{ act.field_name }}</td>
                  <td>
                    <!-- NOTE ADDED -->
                    <!-- <ng-container *ngIf="act.field_name === 'Note Added'">
                        Note added
                      </ng-container> -->

                    <!-- STATUS / ASSIGNED -->
                    <ng-container *ngIf="act.field_name !== 'Note Added'">

                      <!-- <span *ngIf="act.field_name === 'New Ticket'">
                          New ticket created
                        </span> -->
                      <span *ngIf="act.field_name === 'Status'">
                        {{ act.old_status }} → {{ act.new_status }}
                      </span>
                      <span *ngIf="act.field_name === 'Assigned To'">
                        {{ act.old_assigned_to_name }} → {{ act.new_assigned_to_name }}
                      </span>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>


    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button class="pbtn" form="issueticketform" type="submit">
    {{ isEditMode ? 'Update' : 'Create' }}
  </button>
</mat-dialog-actions>