* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {

  --secondary-bg: #ecf2ef;
  --accent: #547562;
  --accent-light: #d6e1db;

  --header-color: #d6e1db;
  --tableheader-color: #d6e1db;
  --tablecontent-color: black;
  --tablebutton-color: #547562;
  --formheader-color: #547562;
  --formbutton-color: #547562;
  --formcontent-color: white;
}

/* .no-scroller-dialog .mat-dialog-container {
  padding: 0 !important;
  overflow-y: hidden !important;
  max-height: 90vh;
  display: flex;

  
  flex-direction: column;
} */


.page {
  flex: 1;
  overflow: hidden;
}


.action-btn.edit {
  color: #5a9eda;
}

.action-btn.delete {
  color: #d63e3e;
}


/* Dialog animation */
.mat-mdc-dialog-container {
  border-radius: 18px !important;
  animation: scaleFade 0.45s ease;
  padding: 0;
}

@keyframes scaleFade {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Form Field common */
.mat-mdc-form-field {
  width: 100%;
}

/* Button animation */
.mat-mdc-raised-button {
  transition: all 0.3s ease !important;
}

.mat-mdc-raised-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .dialog-wrapper {
    padding: 20px !important;
  }
}

.success-snackbar {
  background-color: var(--formheader-color) !important;
  color: white !important;
  z-index: 9999 !important;
}

.custom-close-button {
  color: #020202 !important;
  background: transparent !important;
}

.custom-close-button:hover {
  color: #cc0000 !important;
  background: rgba(0, 0, 0, 0.1) !important;
}

.success-snackbar .mat-simple-snackbar {
  color: white !important;
}


.success-snackbar .mat-simple-snackbar-action {
  color: #ffeb3b !important;
  /* Makes the "Close" button text yellow/visible */
}


/* Track and thumb when toggle is checked */
/*button 33*/
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* ---------- */



/* main layout content white box  */
.main-content {
  flex: 1;
  transition: margin-left 220ms ease, padding 220ms ease;
  overflow-x: hidden;
  position: relative;
  margin-left: 0px !important;
  background: #fefefe;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top-left-radius: 28px;
}

/* layout div inside white content box  */
.content-inner {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  padding-block: 20px;
  height: 100%;
  overflow: hidden;
}

/* main content page for every page  */
.contentpage {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

/* table wrapper for every table include paginator too  */
.tablewrapper {
  flex: 1 0 0;
  overflow: auto;
}

/* wrapper for paginator  */
.paginator {
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}


/* TABLE BORDER RADIUS  */
.mat-header-row th:first-child {
  border-top-left-radius: 12px;
}

.mat-header-row th:last-child {
  border-top-right-radius: 12px;
}

/* TABLE BORDER RADIUS END */


/* TABLE ROW BACKGROUND COLOR  */
.mat-row:nth-child(even) {
  background-color: #fafafa;
}

.mat-row:nth-child(odd) {
  background-color: #ffffff;
}

/* TABLE ROW BACKGROUND COLOR END  */



.ml-auto {
  margin-left: auto !important;
}

.pdiv{
  padding-inline: 8px;
}


/* MAT FORM FIELD  */
.fields .mat-form-field {
  width: 100% !important;
  padding-inline: 8px;
}

.fields .mat-form-field-wrapper {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 8px 0px !important;
}

.mat-form-field-infix {
  padding: 8px 0px !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  display: flex;
  align-items: center;
  padding: 0px 8px !important;
  border-radius: 12px !important;
  height: 42.75px;
  background-color: #e9e9e9 !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  border-top: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex{
  display: flex;
  align-items: center;
}
/* MAT FORM FIELD END  */

/* BUTTON  */
.pbtn {
  background-color: var(--accent);
  color: white;
  border-radius: 8px !important;
  height: 39px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.9px;
}

.sbtn {
  background-color: var(--accent-light);
  color: white;
  border-radius: 8px !important;
  height: 39px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 0.9px;
}

.sbtn img{
  width: 40px;
  height: auto;
}

/* BUTTON END */


.searchbox {}

.searchbox mat-icon {
  color: #584f4f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.searchbox input {}

.searchbox input::placeholder {
  color: #584f4f;
  font-size: 12px;
}

.searchbox .mat-form-field-underline,
.searchbox .mat-form-field-ripple {
  display: none;
}




/* LIVE TICKETS PAGE  */

/* LIVE TICKETS PAGE END */