::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
color:rgb(255, 255, 255);
background-color: var(--formheader-color);
}

::ng-deep .mat-tab-list .mat-tab-labels {
color:blue;
/* background-color: var(--tableheader-color); */
}
