/* ===============================
   Dialog Toolbar (Header)
================================ */
.dialog-toolbar {
  background-color: var(--formheader-color);

  display: flex;
  align-items: center;
  padding: 0 14px;
  height: 40px;
}

.dialog-toolbar h2 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  color: var(--formcontent-color)
}

/* Push close button to right */
.toolbar-spacer {
  flex: 1 1 auto;
}

.dialog-toolbar button {
  color: #333;
}

/* ===============================
   Form Layout
================================ */
form {
  padding: 16px 20px 8px;
}

/* Each row */
.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

/* Labels */
.form-label {
  font-size: 13px;
  font-weight: 500;
  color: #555;
  margin-bottom: 4px;
}

/* Material fields full width */
mat-form-field {
  width: 100%;
}

/* ===============================
   Color Picker
================================ */
.color-picker-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.color-input {
  width: 48px;
  height: 32px;
  border: none;
  padding: 0;
  cursor: pointer;
  background: none;
}

.color-picker-row span {
  font-size: 12px;
  color: #666;
}

/* ===============================
   Checkbox
================================ */
mat-checkbox {
  font-size: 14px;
}

/* ===============================
   Dialog Actions (Footer)
================================ */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 20px 16px;
}


/* Primary action */
.save-btn {
  background-color: var(--formbutton-color);
  color:var(--formcontent-color);
  letter-spacing: 0.4px;
}
::ng-deep .custom-dialog .mat-dialog-container {
  overflow: hidden !important;
  padding: 0 !important;
}      